---
import GenericLayout from "../layouts/GenericLayout.astro";
import HeroSection from "../components/sections/HeroSection.astro";
import FeatureSection from "../components/sections/FeatureSection.astro";
import CallToActionSection from "../components/sections/CallToActionSection.astro";
import LogoSection from "../components/sections/LogoSection.astro";
import LogoElement from "../components/elements/LogoElement.astro";
import ScrollingTextSection from "../components/sections/ScrollingTextSection.astro";
import TestimonialSection from "../components/sections/TestimonialSection.astro";
import TestimonialElement from "../components/elements/TestimonialElement.astro";
import { nodeModuleNameResolver } from "typescript";

const {
  title = "Pioneering Sustainable Healthcare through AI & Telemedicine",
  description = "Mends is transforming healthcare with AI-driven solutions and telemedicine, focusing on accessibility, patient care, and sustainability. Discover how we're shaping the future of healthcare for a better tomorrow.",
  image = "/images/fallback/fallback_social.jpeg",
  navLinks = [
    { text: "Values", href: "#values" },
    { text: "Testimonials", href: "#testimonials" },
    { text: "Contact", href: "#contact" },
    { text: "FAQ (soon)", href: null },
    { text: "About Us (soon)", href: null },
    { text: "How To Invest (soon)", href: null },
  ],
  lang = "en",
} = Astro.props;
---

<GenericLayout
  title={title}
  description={description}
  lang={lang}
  navLinks={navLinks}
  image={image}
>
  <HeroSection
    imageAlt="Transforming Healthcare"
    imageUrl="/images/landing/launch_2909658.svg"
    buttonText="Discover Our Vision"
    buttonLink="#values"
    id="home"
  >
    <span slot="header">
      <span
        class="font-display uppercase text-transparent bg-gradient-to-b from-matisse via-hippie-blue to-pale-leaf bg-clip-text"
      >
        Transforming
      </span> Healthcare with Heart and Innovation
    </span>
     At Mends, we're <strong>leveraging AI and telemedicine</strong> to bring
    you closer to your health goals, wherever you are.
  </HeroSection>

  <FeatureSection
    id="values"
    imageUrl="/images/landing/universe_2909502.svg"
    imageAlt="Our Values"
  >
    <span slot="header">
      Our <span
        class="font-display uppercase text-transparent bg-gradient-to-b from-apricot via-brandy to-frost bg-clip-text"
        >Values</span
      > Guide Our Mission
    </span>
    <span slot="paragraph">
      At Mends, our essence is defined by core values: <strong
        >Motivation, Empathy, Nimbleness, Diversity, and Sustainability</strong
      >.
      <br /><br />
       These principles are not just what we do; they're who we are, guiding us
      to revolutionize healthcare.
    </span>
  </FeatureSection>

  <FeatureSection
    id="motivation"
    imageUrl="/images/landing/energy_4405428.svg"
    imageAlt="Motivation"
    reverse
  >
    <span slot="header">
      Fueling Innovation: The Power of <span
        class="font-display uppercase text-transparent bg-gradient-to-b from-matisse via-hippie-blue to-pale-leaf bg-clip-text"
        >Motivation</span
      > at Mends
    </span>
    <span slot="paragraph">
      Mends harnesses Motivation as our driving force, pushing beyond ambition
      to revolutionize healthcare. Our commitment to innovation, powered by the
      desire to tackle global health challenges, positions us as pioneers, not
      just participants.
      <br /><br />
      <strong>We're dedicated to advancing healthcare</strong> through AI and
      telemedicine, making top-quality care accessible to all.
    </span>
  </FeatureSection>

  <LogoSection id="tech-stack">
    <span slot="header">Our Tech Stack</span>
    <LogoElement src="/images/logo_grid/postgresql_logo.svg" alt="PostgreSQL" />
    <LogoElement src="/images/logo_grid/redis_logo.svg" alt="Redis" />
    <LogoElement src="/images/logo_grid/docker_logo.svg" alt="Docker" />
    <LogoElement src="/images/logo_grid/portainer_logo.svg" alt="Portainer" />
    <LogoElement src="/images/logo_grid/n8n_logo.svg" alt="n8n" />
    <LogoElement src="/images/logo_grid/hasura_logo.svg" alt="Hasura" />
    <LogoElement src="/images/logo_grid/chatwoot_logo.svg" alt="Chatwoot" />
    <LogoElement src="/images/logo_grid/typebot_logo.svg" alt="Typebot" />
    <LogoElement src="/images/logo_grid/directus_logo.svg" alt="Directus" />
    <LogoElement src="/images/logo_grid/astro_logo.svg" alt="Astro" />
    <LogoElement src="/images/logo_grid/tailwindcss_logo.svg" alt="Tailwind CSS" />
    <LogoElement src="/images/logo_grid/plausible_logo.svg" alt="Plausible" />
  </LogoSection>

  <CallToActionSection id="invest" buttonText="Invest Now (soon)">
    <span slot="header">Discover Investment Opportunities</span>
     Join us in shaping the future of healthcare. Explore investment
    opportunities with Mends and be part of the revolution.
  </CallToActionSection>
  <FeatureSection
    id="empathy"
    imageUrl="/images/landing/feedback_4342417.svg"
    imageAlt="Empathy"
  >
    <span slot="header">
      <span
        class="font-display uppercase text-transparent bg-gradient-to-b from-apricot via-brandy to-frost bg-clip-text"
        >Empathy</span
      > in Action: Crafting Compassionate Care at Mends
    </span>
    <span slot="paragraph">
      Mends elevates Empathy into our technology, ensuring our AI offers
      personalized, human-centric care.
      <br /><br />
       By integrating AI-driven insights tailored to individual health goals and
      providing compassionate support, <strong
        >we create a healthcare experience that's both caring and attentive</strong
      >, mirroring the comfort of a trusted healthcare provider.
    </span>
  </FeatureSection>

  <FeatureSection
    id="nimblesness"
    imageUrl="/images/landing/synchronization_1766998.svg"
    imageAlt="Nimbleness"
    reverse
  >
    <span slot="header">
      Agility in Action: Embracing Change with <span
        class="font-display uppercase text-transparent bg-gradient-to-b from-matisse via-hippie-blue to-pale-leaf bg-clip-text"
        >Nimble</span
      > Solutions
    </span>
    <span slot="paragraph">
      Mends excels in agility, <strong
        >quickly adapting to health trends and user feedback</strong
      > with our advanced AI and telemedicine services.
      <br /><br />
       This flexibility ensures we lead in healthcare innovation, addressing
      future challenges today.
    </span>
  </FeatureSection>

  <LogoSection id="embedded-technologies">
    <span slot="header">Embedded Technologies</span>
    <LogoElement src="/images/logo_grid/openai_logo.svg" alt="OpenAI" />
    <LogoElement
      src="/images/logo_grid/google_cloud_logo.svg"
      alt="Google Cloud"
    />
    <LogoElement src="/images/logo_grid/postmark_logo.svg" alt="Postmark" />
    <LogoElement src="/images/logo_grid/deepl_logo.svg" alt="DeepL" />
  </LogoSection>
  <ScrollingTextSection id="opportunities" duration="120s">
    🚀 25.8% CAGR in Telemedicine by 2027: A Market on the Rise! 📈 💸 Poles'
    Earnings Abroad Hit Record 154.5B PLN: A Surge in Overseas Income! 💰 🌍 90%
    Spike in Poles Seeking Work Abroad: Economic Strains Push Migration to
    Germany, Netherlands! 🛫 🌐 Telemedicine to Skyrocket to $286.22B by 2030,
    Growing at 17.2% CAGR! 🚀 North America Dominates with 47.87% Market Share.
    🤖 AI Clinics & Digital Health Tech Fuel Expansion! 💡
  </ScrollingTextSection>
  <FeatureSection
    id="diversity"
    imageUrl="/images/landing/puzzle_5417957.svg"
    imageAlt="Diversity"
  >
    <span slot="header">
      Embracing <span
        class="font-display uppercase text-transparent bg-gradient-to-b from-apricot via-brandy to-frost bg-clip-text"
        >Diversity</span
      >: Mends' Global Vision</span
    >
    <span slot="paragraph">
      Mends champions Diversity, ensuring our AI and team reflect a global
      perspective for inclusive healthcare.
      <br /><br />
       This approach allows us to address diverse health needs effectively,
      <strong>making healthcare accessible and personalized for all.</strong>
    </span>
  </FeatureSection>

  <FeatureSection
    id="sustainability"
    imageUrl="/images/landing/tag_4405535.svg"
    imageAlt="Sustainability"
    reverse
  >
    <span slot="header">
      A Greener Future: Mends' Commitment to <span
        class="font-display uppercase text-transparent bg-gradient-to-b from-matisse via-hippie-blue to-pale-leaf bg-clip-text"
        >Sustainability</span
      >
    </span>
    <span slot="paragraph">
      Mends prioritizes Sustainability, <strong
        >embedding eco-friendly practices and green technologies</strong
      > in our operations and healthcare solutions.
      <br /><br />
       This commitment not only aims for a healthier planet but also sets a
      precedent for future-oriented, sustainable healthcare innovations.
    </span>
  </FeatureSection>
  <TestimonialSection id="testimonials">
    <span slot="subheader">Founders' Passion Fuels Progress</span>
    <span slot="header">Nurturing Health</span>
    <TestimonialElement
      content="Complete professionalism. Willingness to help, understanding, quick response. I recommend."
      signature="Aleksandra Urbaniak"
      description="Recommended Polski Lekarz"
      readOnUrl="https://www.facebook.com/aleksandra.urbaniak.1428/posts/pfbid026fpJ4PJt5V4LJcNNDcrjazSzxYs9gdNcTRFtNM7N1GhamvXC6jDGjXqLUUdum6Y5l"
      readOnText="Read on Facebook"
    />

    <TestimonialElement
      content="The online consultation I had with Mr. Dominik was of the highest standard. A factual approach to the subject and asking about all the details, as well as diagnosis and constant contact with me, was what I expected."
      signature="Łukasz Falkowski"
      description="Highly satisfied with Polski Lekarz"
      readOnUrl="https://www.facebook.com/Felo.5.2.0/posts/pfbid02nu6AF9agratz81EQEeosDWG28NL2zU4QfJXXEPbddCxuNS9YV3chy3UDzAqB47iPl"
      readOnText="Read on Facebook"
    />

    <TestimonialElement
      content="I recommend Mr. Dominik for his approach and professionalism."
      signature="Wiola Żebro"
      description="Happy Client"
      readOnUrl="https://www.facebook.com/wiola.janeczko/posts/pfbid0bXTjaFt6wEXmMeuanG5wNMaS6SQWhmEYzDDjeYYi6gV1G1aWhaGUAVUu2GskpX1tl"
      readOnText="Read on Facebook"
    />
    <TestimonialElement
      content="I highly recommend. Mr. Dominik is great at what he does and will answer every question. Again, I recommend 🙂"
      signature="Daria Sudoł"
      description="Satisfied Patient"
      readOnUrl="https://www.facebook.com/AlurixX/posts/pfbid0CJMa7asBLLKFxzMsPa7LkcisoAAoRDZSthVC1s2qWp4zGSUxLg9JmNoMvqzcs9W6l"
      readOnText="Read on Facebook"
    />

    <TestimonialElement
      content="I highly recommend Dr. Dominik, a doctor with a calling, super approach to the patient, he explains everything clearly."
      signature="Paulina Nickel"
      description="Grateful Patient"
      readOnUrl="https://www.facebook.com/malinka8137/posts/pfbid0aYLxNG9yPwGzWMK7y96yHhXtKVqEMRfCbjs4NjgPaWpJDLuy1adsVCnewR8GezYhl"
      readOnText="Read on Facebook"
    />
    <TestimonialElement
      content="I recommend Dr. Dominik, professional approach to the patient, quick help provided."
      signature="Kornelia Rypała"
      description="Satisfied Client"
      readOnUrl="https://www.facebook.com/kornela32/posts/pfbid0YEZbsEF9z3RJ3amKzR2nEcqv2AHikt9uWXfXfZtuZtcxYx6L2gicw2Nu2P1Dc6tnl"
      readOnText="Read on Facebook"
    />
    <TestimonialElement
      content="Doctor Dominik approaches the patient very professionally. Full of commitment in what he does. Great contact, very nice conversation. I heartily recommend..."
      signature="Agusia Turtoń"
      description="Highly Recommended"
      readOnUrl="https://www.facebook.com/agnieszka.turtonr/posts/pfbid0prZTtBHnhndKwxECg4Shhtex4hGoHHCXqqURHfmUYnZ3A7ZkcvekiuSQVy4PPze6l"
      readOnText="Read on Facebook"
    />
    <TestimonialElement
      content="Dr. Dominik is very kind and committed. He offers advice and help. I recommend contacting him in emergencies."
      signature="Natalia Strzępek"
      description="Emergency Consultation"
      readOnUrl="https://www.facebook.com/natalia.strzepek.5/posts/pfbid02aSSrE6VyqNa5ttwHzArzUsaMG6doChu6dn2w4bBruDNNA84uTtwGayH8rmUQTvagl"
      readOnText="Read on Facebook"
    />
    <TestimonialElement
      content="Received outstanding care from Dr. Dominik while abroad. His dedication and prompt assistance were truly beyond my expectations."
      signature="Paulina"
      description="Reliable care, globally available"
      readOnUrl="https://www.znanylekarz.pl/dominik-mukrecki#o-4814619"
      readOnText="Read on ZnanyLekarz"
    />

    <TestimonialElement
      content="I recommend Dr. Dominik for his exceptional service. The cross-border prescription was easily fulfilled abroad, showcasing his commitment to patient care."
      signature="P.S"
      description="Seamless healthcare experience"
      readOnUrl="https://www.znanylekarz.pl/dominik-mukrecki#o-4615571"
      readOnText="Read on ZnanyLekarz"
    />

    <TestimonialElement
      content="Professional, prompt, and effective; Dr. Dominik provided the urgent care I needed. His guidance and prescribed treatment were exactly what I was missing in the Netherlands."
      signature="Klaudia S"
      description="Immediate and effective care"
      readOnUrl="https://www.znanylekarz.pl/dominik-mukrecki#o-4474086"
      readOnText="Read on ZnanyLekarz"
    />

    <TestimonialElement
      content="Efficient and thorough, Dr. Dominik is my go-to for reliable health consultations and prescriptions abroad."
      signature="Violetta Verschuuren"
      description="Expert care for expats"
      readOnUrl="https://www.znanylekarz.pl/dominik-mukrecki#o-4354458"
      readOnText="Read on ZnanyLekarz"
    />

    <TestimonialElement
      content="Dr. Dominik's support is available when you most need it, providing prescriptions swiftly, even on weekends. Highly commendable service."
      signature="Joanna K."
      description="Reliable weekend support"
      readOnUrl="https://www.znanylekarz.pl/dominik-mukrecki#o-4324130"
      readOnText="Read on ZnanyLekarz"
    />
  </TestimonialSection>

  <!-- Add more TestimonialElement components as needed, following the same pattern -->

  <CallToActionSection
    id="contact"
    buttonText="Contact Us"
    buttonLink="mailto:contact@mends.eu"
  >
    <span slot="header">Connect With Mends</span>
     Reach out to explore how we can transform healthcare together. Your journey
    towards impactful collaboration starts here.
  </CallToActionSection>
</GenericLayout>
