---
interface Props {
  title?: string;
  description?: string;
  image?: string;
  url?: string; // Added to define `og:url` and `twitter:url` dynamically
}

const {
  title,
  description = "Default description if none provided",
  image = "/default-social-image.png",
  url = Astro.url,
} = Astro.props;

import "../styles/global.css";
import { ViewTransitions } from "astro:transitions";
---

<head>
  <meta charset="UTF-8" />
  <title>{title}</title>
  <ViewTransitions />
  <meta name="description" content={description} />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
  />
  <meta name="generator" content="Astro" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content={url} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={image} />
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={url} />
  <meta property="twitter:title" content={title} />
  <meta property="twitter:description" content={description} />
  <meta property="twitter:image" content={image} />
  <link rel="canonical" href={url} />
  <link rel="sitemap" href="/sitemap-index.xml" />
  <meta name="theme-color" content="#ffffff" />
  <link rel="stylesheet" href="https://use.typekit.net/dwq1bvn.css" />
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.5/dist/cdn.min.js"
  ></script></head
>
