---
// Define the type for NavLink
type NavLink = {
  text: string;
  href: string;
};

// Retrieve `navLinks` from props
const navLinks: NavLink[] = Astro.props.navLinks;
---

<nav
  x-show="showNav"
  x-transition.opacity
  @click="showNav = false"
  :style="navStyle"
  x-init="navStyle = `width: ${$refs.mainContainer.offsetWidth}px; height: ${$refs.mainContainer.offsetHeight}px; top: ${$refs.mainContainer.offsetTop}px; left: ${$refs.mainContainer.offsetLeft}px;`"
  class="absolute z-50 overflow-scroll px-10 shadow-xl rounded-3xl bg-hippie-blue h-auto"
>
  <ul
    class="flex grow-1 flex-col h-full w-full justify-center content-center gap-0 font-display"
  >
    {
      navLinks.map((link) => (
        <li class="text-center uppercase text-2xl text-white flex hover:text-frost transition-colors">
          <a class="w-full p-4" href={link.href}>
            {link.text}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
