---
import Head from '../components/common/Head.astro';
import Header from '../components/common/Header.astro';
import Footer from '../components/common/Footer.astro';
import Main from '../components/common/Main.astro';
import Navigation from '../components/common/Navigation.astro';
import NavigationButton from '../components/common/NavigationButton.astro';
import LogoGrid from '../components/sections/LogoGrid.astro';
import LogoElement from '../components/elements/LogoElement.astro';

interface LayoutProps {
	title: string;
	titleTemplate?: string;
	titleDefault?: string;
	description: string;
	image: string;
	lang: string;
	type: string;
	navActive?: boolean;
	navLinks?: { text: string; href: string }[];
}

const {
  title = "Mends — Pioneering Sustainable Healthcare through AI & Telemedicine", // Provide a more meaningful default title if possible
  titleTemplate = "Mends — %s",
  titleDefault = "mends.eu — our's startup website",
  description = "Mends is transforming healthcare with AI-driven solutions and telemedicine, focusing on accessibility, patient care, and sustainability. Discover how we're shaping the future of healthcare for a better tomorrow.",
  image = "/default-social-image.png",
  type = "website",
  lang = "en",
  navActive = true,
  navLinks = [],
} = Astro.props as LayoutProps;

---

<html lang={lang}>
	<Head title={title} titleTemplate= {titleTemplate} titleDefault={titleDefault} image={image} type={type} description={description} />
	<body
		x-data="{ showNav: false, navStyle: '', updateNavStyle() { const mainContainer = this.$refs.mainContainer; if (mainContainer) { this.navStyle = `width: ${mainContainer.offsetWidth}px; height: ${mainContainer.offsetHeight}px; top: ${mainContainer.offsetTop}px; left: ${mainContainer.offsetLeft}px;`;}}}"
		class="container mx-auto"
		x-init="updateNavStyle()"
		@resize.window="updateNavStyle()"
	>
		<div
			class="h-full container w-full fixed grid grid-rows-[fit-content(100%)_1fr_fit-content(100%)] grid-cols-[1fr] grid-flow-row gap-0"
		>
			<Header svgClasses="h-[38px] md:h-[62px]">
				{navActive && <NavigationButton svgClasses="h-[18px] md:h-[29px]" />}
				{navActive && <Navigation navLinks={navLinks} />}
			</Header>
			<Main>
				<slot />
			</Main>
			<Footer />
		</div>
	</body>
</html>
